@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");
:root {
  --color-primary-blue: hsl(233, 26%, 24%);
  --color-primary-green: hsl(136, 65%, 51%);
  --color-primary-cyan: hsl(192, 70%, 51%);
  --color-grayish-blue-2: hsl(233, 8%, 62%);
  --color-grayish-blue-1: hsl(220, 16%, 96%);
  --color-gray-light: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
}
