.logo{
    width: 100%;
}


.hero_img{
    overflow: hidden;
    margin-top: -10rem;
    

}



.feature{
    & > *{
        text-align: center;
    }
    &_logo,
    &_title{
        margin-bottom: 3.7rem;
    }
}

.footer_social-media-links{
    display: flex;
    justify-content: space-around;
    max-width: 17rem;
    align-items: center;
    margin:  2rem auto;
  
  
}

.footer_logo{
    display: inline-block;
    width: 20rem;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 255, 255));
}

.social-icon:hover{
    fill: var(--color-primary-green)
}
