.articles {
    margin: 5rem auto;
    max-width: 90%;
    & > * {
        text-align: center;
    }
    &_heading{
      margin-bottom: 3rem;
    }

  @media only screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    justify-content: space-between;

    &_heading{
      text-align: left;
      flex: 1 0 100%;
    }
  }
 
}