.articles {
    margin: 5rem auto;
    max-width: 90%;
    & > * {
        text-align: center;
    }
    &_heading{
      margin-bottom: 2rem;
    }

  @media only screen and (min-width: 900px) {
      display: flex;
      flex-wrap: wrap;
      max-width: 80%;

      justify-content: space-between;
      &_heading{
        flex: 1 0 100%;
      } 
  }
 
}