.hero {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5rem;
    & img{
      width: 100%;
      height: 100%;
    }
    
    @media only screen and (min-width: 1200px) {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      height: 70vh;
      &_img {
        order: 1;
        flex: 1;
      }
    &_box {
      flex: 0 0 30%;
      margin-right: 2rem;
    }
  
  }
   
  
    &_title {
      margin-bottom: 1rem;
      padding: 0.5rem;
    }
    &_desc {
      margin-bottom: 2rem;
      padding: 0.5rem;
    }
    &_btn {
    }
  }